.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 1rem;
}
